# Anki Connect Configuration
ANKI_CONNECT_HOST=localhost
ANKI_CONNECT_PORT=8765

# Flask Configuration
FLASK_ENV=development
SECRET_KEY=your-secret-key-here

BASE_URL=http://127.0.0.1:5000

TENCENTCLOUD_SECRET_ID=your-secret-key-here
TENCENTCLOUD_SECRET_KEY=your-secret-key-here

JINA_API_KEY=your-secret-key-here
JINA_API_URL=https://r.jina.ai/

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
CACHE_KEY_PREFIX=rsshub_